
<div ng-controller="LightsController" data-ng-init="init()">
    <h2>HCC Domelights</h2>
    <br /><br />

    <button type="button" class="btn btn-default">Visualizer</button>
    <button type="button" class="btn btn-default">Night Mode</button>
    <button type="button" class="btn btn-danger">Off</button>
</div>
